body{
  margin: 0;
  text-align: center;
  background-color: #f7f5ef;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  line-height: 2;
}

h1
{
  font-size: 3.5rem;
  margin: auto;
  font-family: 'PT Serif', serif;
}
@media (max-width:600px) {

  h1{
    font-size: 3rem;
  }

}

h2
{
  font-family: 'PT Serif', serif;
  margin-bottom: 0;
  padding-top: 40px;
}

h3
{
  font-family: 'PT Serif', serif;
}


.container-main
{
  margin: 50px 10px 50px;

}
.intro
{
  padding: 10px 0 10px;
  margin: 0;
}

.image-1
{

  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

}
.image-2
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

}
.fig-cap1
{
  padding: 10px 0 20px;
}
.fig-cap2
{
  padding-top: 10px;
}
.container-info
{

  background-color: #fff;
  font-family: 'Noto Sans', sans-serif;

}
.education-div
{
  padding-top:50px;
  text-align: left;
  width: 65%;
  margin-left: 250px;
  line-height: 2;


}
@media (max-width:900px) {

  .education-div{
    margin-left: 60px;
  }

}
.achievements,.awards{
  padding-top: 42px;

  text-align: left;
  width: 65%;
  margin-left: 250px;
  line-height: 2;

}
@media (max-width:900px) {

  .achievements,.awards{
    margin-left: 60px;
  }


}

.gallary{

  padding: 50px 0 50px;

}
.more-info{
  padding-bottom: 50px;
  font-weight: 200;
}

@media (max-width:500px) {
  .more-info{ont-size: 0.75rem;
  font-weight: normal;

}

  }

a:hover{
  color: orange;
}


footer > p{
  padding: 7% 15%;

}
